<h1>Stupid Coaching</h1>

<div class="border-start border-5 ms-4 ps-4">
  <p><%= params[:question] %></p>
  <p><em>- You</em></p>
</div>
<div class="border-start border-5 ms-4 ps-4">
  <p><%= @answer%></p>
  <p><em>- Your coach</em></p>
<div>
<div>
  <%= link_to "Ask again", root_path %>
</div>
